<!DOCTYPE html>
<html lang="en">
    <head>
       <link rel="stylesheet" href="/stylesheets/normalize.css">

       <!-- app.css is where you put your styles -->
       <link rel="stylesheet" href="/stylesheets/app.css">

       <title>Sample Sinatra App</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%= yield %>
    </body>
</html>
